/* .container-fluid:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('http://images5.fanpop.com/image/photos/30900000/supercell-weather-30965292-1440-900.jpg');
  width: 1200px;
  height: 100%;
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
  }  */

html{
  position:relative;
  min-height: 100%;
}
.footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: red;
}

body{
  margin-bottom: 60px;
}

.page-header{
  text-align: center;
}

/*
#forecast{
  background-color: green;
}*/
canvas{
  width: 100%;
  height: 100%;
}
.weather, .icon, .range, .precip{
  display: inline-block;
  vertical-align: middle;
}

.weather{
  width: 30%;
  /*padding: 5px;*/
}
.range, .precip{
  text-align: center;
}
.day{
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  margin-top: 10px;
}

@media (min-width: 320px){
  .weather{
    width: 100%;
  }
  .icon, .range{
    width: 45%;
    margin: auto;
  }
}

.cDeg{
  display: none;
}

/* .stacktable.large-only { display: table; }
.stacktable.small-only { display: none; }

@media (max-width: 800px) {
  .stacktable.large-only { display: none; }
  .stacktable.small-only { display: table; }
} */